<div class="flash">
  <%= flash[:notice1] %>
  <%= flash[:notice2] %>
</div>

<div class="show-text">
<p><strong>Title:</strong><%= @book.title %></p>
</div>
<div class="show-text">
<p><strong>Body:</strong><%= @book.body %></p>
</div>

<div class="button">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path(@book.id) %>
</div>